/*Body*/

body {
  background-image: url("../img/homePage.jpg");
}
/* Header */

.logo img {
  width: 60%;
}

nav {
  margin-top: 5px;
}

ul li {
  margin-left: 20px;
}

ul li a {
  color: white !important;
}
li a:hover {
  color: #8a8a8a !important;
}

.login {
  margin-left: 10cm;
}
.login:hover {
  margin-left: 10cm;
}
.signin {
  background: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
}
.signin:hover {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
}
/* Jumbroton */
.jumbroton {
  background-image: url(assets/img/homePage.jpg) !important;
}

.heroes-h1 {
  color: aliceblue !important;
}
.lead {
  color: aliceblue !important;
}
